@charset "UTF-8";
html{height:100%;}
body{
    min-height:100%; 
    margin:0;
    display:flex; 
    justify-content: center;
    background-color: rgb(0,0,0);
}
main{
    color:white;
    
}


.op{
    width: 400px;
    color:#ffffff;
    display:grid;
    grid-template-columns: auto auto auto;
    
}